[Desktop Entry]
Type=Application
Name=QProf
Exec=qprof
Icon=qprof
Comment=Profile results analysis utility
Comment[fr]=Outil d'analyse de résultats de profiling
Terminal=0
DocPath=qprof/index.html
